//
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap");

//

$primary: #17de17;
$secondary: #f83c08;

$light: #efefef;
$dark: #222;

$colors: (
  "primary": $primary,
  "seondary": $secondary,
  "light": $light,
  "dark": $dark,
);

:root {
  @each $key, $val in $colors {
    --color-#{$key}: #{$val};
  }
}
