@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #39b385;
  --primary__light-color: #9be15d;
  --secondary-color: #e52a5a;
  --secondary__light-color: #ff585f;
  --accent-color: #ffb003;
  --accent__light-color: #ffcb03;
  --light-color: #efefef;
  --dark-color: rgba(51, 51, 51, 0.9333333333);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 75%;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

body,
input {
  box-sizing: border-box;
  color: var(--dark-color);
}

.navbar__brand {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-color);
}

.title {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 600;
}

.current__price {
  font-size: 4.2rem;
}

.login {
  font-size: 1.1rem;
  color: rgba(34, 34, 34, 0.7);
}

.rounded {
  border-radius: 0.3rem;
}

.p-4 {
  padding: 3rem;
}

.navbar, .current__info, .navbar__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  height: 5rem;
  object-fit: cover;
}
.navbar__form > * {
  position: relative;
}
.navbar__form > * input:not(button) {
  width: 10rem;
  height: 3.2rem;
  text-align: center;
  border-radius: 2rem;
  border: 0.2rem solid transparent;
  background-color: #fff;
  margin-right: 0.7rem;
  outline: none;
  transition: all 0.3s;
}
.navbar__form > * input:not(button):focus {
  border: 0.2rem solid var(--primary-color);
}
.navbar__form ::-webkit-input-placeholder {
  text-transform: capitalize;
  letter-spacing: 0.03rem;
}
.navbar__form-label {
  color: rgba(51, 51, 51, 0.8);
  letter-spacing: 0.01rem;
  position: absolute;
  bottom: -50%;
  left: 45%;
  transform: translate(-50%, 0);
  opacity: 1;
  transition: all 0.3s;
}
.navbar__form-input:placeholder-shown + .navbar__form-label {
  opacity: 0;
  transform: translate(-50%, -0.7rem);
}
.navbar__form-pin {
  padding-inline-end: 1rem;
}

.btn {
  border: none;
  font-size: 1.8rem;
  padding-inline-start: 0.5rem;
  cursor: pointer;
}
.btn__disabled {
  cursor: not-allowed;
}

.transfer__section {
  background-image: linear-gradient(to right bottom, var(--accent__light-color), var(--accent-color));
}

.loan__section {
  background-image: linear-gradient(to right bottom, var(--primary__light-color), var(--primary-color));
}

.close__account {
  background-image: linear-gradient(to right bottom, var(--secondary__light-color), var(--secondary-color));
  color: var(--light-color);
}

.navbar {
  padding: 0 3rem;
}

.current__info {
  grid-area: 1/1/2/-1;
}

.user__data {
  grid-area: 2/1/5/2;
}

.user__summery {
  grid-area: 5/1/-1/2;
}

.logout__session {
  grid-area: 5/2/-1/-1;
}

.wrapper {
  max-width: 160rem;
  min-height: 100vh;
  background-color: var(--light-color);
  margin-inline: auto;
  padding: 2rem 0 8rem;
}

.main {
  max-width: 70rem;
  margin-inline: auto;
  margin-top: 5rem;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: repeat(4, minmax(5rem, auto)) auto;
  gap: 1.6rem;
}

/*# sourceMappingURL=main.css.map */
