//

.login {
  height: 100vh;
  background-color: #efefef;
}

.bankit {
  min-height: 100vh;
  background-color: #efefef;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.amount-data::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.amount-data {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
