// Buttons

@use "../abstract/functions" as fun;
@use "../abstract/placeholder";

.btn {
  @extend %dark-color;
  display: inline-block;

  &-txt {
    color: fun.getColor(primary);
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-color: fun.getColor(primary);
    transition: all 0.3s;
    padding: .2rem .1rem;


    &:hover {
      background: fun.getColor(primary);
      color: #efefef;
    }
  }

  &-green {
    background: fun.getColor(primary);
    @extend %btn;

    &:hover {
      background: fun.getColor(primary-darker);
    }
  }

  &-yellow{
    background-color: fun.getColor(secondary);
    @extend %btn;
  }

  &-red{
    background: fun.getColor(tertiary);
    @extend %btn;
  }

  &-active{
    transform: translateY(-.8rem);
  }
}
