//

@use "../abstract/functions" as fun;
@use "../abstract/placeholder";

.content {
  &-title {
    font-size: 5.6rem;
    //   text-transform: capitalize;
    color: #333;
    font-weight: 600;
    line-height: 1.3;
  }

  &-txt {
    font-size: 2.4rem;
    color: #333;
    font-weight: 500;
    letter-spacing: 0.02rem;
    margin: 3rem 0 2.5rem;
  }
}

.text-gradient__primary {
  display: inline-block;
  position: relative;
  z-index: 20;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    background-image: fun.getColor(gradient-primary);
    transform: skewX(-20deg) scale(1.05);
    opacity: 0.7;
  }
}

.features {
  &-subtitle {
    @extend %subtitle;
  }

  &-title {
    @extend %title;
  }

  &-content {
    padding: 1rem 5rem;
  }

  &-header {
    font-size: 2.4rem;
    font-weight: 600;
    color: fun.getColor(dark);
    margin: 2rem 0 1rem;
  }

  &-txt {
    font-size: 1.6rem;
    color: #888;
    line-height: 1.85;
  }
}

.operate {
  &-items {
    &__header {
      font-size: 2.2rem;
      color: #666;
      font-weight: 600;
    }

    &__txt {
      font-size: 1.8rem;
      line-height: 1.9;
      color: #979797;
    }
  }
}

.carousel {
  &-header {
    font-size: 2.4rem;
    font-weight: 600;
    color: #555;
    margin-bottom: 1.5rem;
  }

  &-txt {
    font-size: 1.8rem;
    color: #888;
    line-height: 1.8;
  }

  &-author {
    &__name {
      font-size: 1.8rem;
      font-weight: 500;
      color: #555;
    }

    &__location {
      font-size: 1.5rem;
      color: #888;
    }
  }
}
