//

.dark-50 {
  color: #999;
}

.cookie {
  background-color: #444;
  padding: 0.8rem 20%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;

  & > p {
    font-size: 1.6rem;
    color: #efefef;
    text-transform: capitalize;
  }
}
