//

.dark-50 {
  color: #999;
}

.cookie {
  max-width: 90rem;
  padding: 0.8rem 0;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;

  & > p {
    font-size: 1.6rem;
    color: #555;
    text-transform: capitalize;
  }
}
