@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #5ec576;
  --secondary-color: #ffcb03;
  --tertiary-color: #ff585f;
  --dark-color: #444;
  --primary-darker-color: #4bbb7d;
  --secondary-darker-color: #ffbb00;
  --tertiary-darker-color: #fd424b;
  --primary-opacity-color: rgba(94, 197, 118, 0.2274509804);
  --secondary-opacity-color: rgba(255, 205, 3, 0.1921568627);
  --tertiary-opacity-color: rgba(255, 88, 96, 0.1764705882);
  --gradient-primary-color: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary-color: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  max-width: 160rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  place-items: center center;
  padding-inline: 3rem;
  min-height: calc(100vh - 7rem);
}
.content-container {
  padding: 10rem 0 20rem;
}
.content-pic {
  grid-area: 1/2/-1/-1;
}
.content-img {
  object-fit: cover;
  width: 100%;
}

.features-session {
  max-width: 100rem;
  margin: 0 auto;
  padding: 10rem 2rem;
}

.btn, .navbar-link {
  color: var(--dark-color);
  font-size: 1.7rem;
  letter-spacing: 0.02rem;
  text-transform: capitalize;
}

.carousel-subtitle, .operate-subtitle, .features-subtitle {
  color: var(--primary-darker-color);
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
  letter-spacing: 0.02;
}

.carousel-title, .operate-title, .features-title {
  font-size: 4.4rem;
  line-height: 1.15;
  color: #555;
  font-weight: 600;
}

.btn-green, .btn-yellow, .btn-red {
  padding: 1rem 3rem;
  border-radius: 3rem;
  transition: background 0.3s linear;
}

.carousel-subtitle, .carousel-title, .operate-subtitle, .operate-title {
  max-width: 90rem;
  margin-inline: auto;
}

.navbar {
  max-width: 180rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  padding-top: 2rem;
}
.navbar-brand {
  height: 5rem;
}
.navbar-brand__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.navbar-nav, .navbar-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.btn {
  display: inline-block;
}
.btn-txt {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  text-decoration-color: var(--primary-color);
  transition: all 0.3s;
  padding: 0.2rem 0.1rem;
}
.btn-txt:hover {
  background: var(--primary-color);
  color: #efefef;
}
.btn-green {
  background: var(--primary-color);
}
.btn-green:hover {
  background: var(--primary-darker-color);
}
.btn-yellow {
  background-color: var(--secondary-color);
}
.btn-red {
  background: var(--tertiary-color);
}
.btn-active {
  transform: translateY(-0.8rem);
}

.content-title {
  font-size: 5.6rem;
  color: #333;
  font-weight: 600;
  line-height: 1.3;
}
.content-txt {
  font-size: 2.4rem;
  color: #333;
  font-weight: 500;
  letter-spacing: 0.02rem;
  margin: 3rem 0 2.5rem;
}

.text-gradient__primary {
  display: inline-block;
  position: relative;
  z-index: 20;
}
.text-gradient__primary::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: var(--gradient-primary-color);
  transform: skewX(-20deg) scale(1.05);
  opacity: 0.7;
}

.features-content {
  padding: 1rem 5rem;
}
.features-header {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--dark-color);
  margin: 2rem 0 1rem;
}
.features-txt {
  font-size: 1.6rem;
  color: #888;
  line-height: 1.85;
}

.operate-items__header {
  font-size: 2.2rem;
  color: #666;
  font-weight: 600;
}
.operate-items__txt {
  font-size: 1.8rem;
  line-height: 1.9;
  color: #979797;
}

.carousel-header {
  font-size: 2.4rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 1.5rem;
}
.carousel-txt {
  font-size: 1.8rem;
  color: #888;
  line-height: 1.8;
}
.carousel-author__name {
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
}
.carousel-author__location {
  font-size: 1.5rem;
  color: #888;
}

.features {
  background: #efefef;
}
.features-container {
  display: grid;
  gap: 6rem;
  padding-top: 10rem;
}
.features-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, minmax(1rem, auto));
  gap: 3rem;
}
.features-items:nth-of-type(odd) .features-pic, .features-items:nth-of-type(even) .features-content {
  grid-area: 1/1/-1/2;
}
.features-items:nth-of-type(odd) .features-content, .features-items:nth-of-type(even) .features-pic {
  grid-area: 1/2/-1/-1;
}
.features-img {
  width: 100%;
  object-fit: cover;
}
.features-circle {
  width: 6rem;
  height: 6rem;
  display: block;
  border-radius: 50%;
  background: var(--primary-opacity-color);
}

.operate-session {
  padding: 15rem 0 10rem;
}
.operate span {
  margin-left: 0.5rem;
}
.operate-container {
  max-width: 110rem;
  margin-inline: auto;
  margin-top: 10rem;
  padding: 9rem;
  background-color: #f6f6f6;
  border-radius: 1rem;
  position: relative;
}
.operate .circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.operate .circle-yellow {
  background: var(--secondary-opacity-color);
}
.operate .circle-green {
  background: var(--primary-opacity-color);
}
.operate .circle-red {
  background: var(--tertiary-opacity-color);
}

.carousel {
  background: #f1f1f1;
  padding: 20rem 0;
}
.carousel-author__pic {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  overflow: hidden;
  cursor: pointer;
}
.carousel-author__img {
  transition: all 0.3s;
  object-fit: cover;
  height: inherit;
  width: inherit;
}
.carousel-author__img:hover {
  transform: scale(1.2);
}

.btn-group {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 3rem;
  justify-self: center;
  position: absolute;
  top: -2rem;
}

.operate-container {
  display: grid;
}
.operate-items {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto auto;
  gap: 2rem 4rem;
  display: none;
}
.operate-items__active {
  display: grid;
}
.operate-items__header {
  grid-area: 1/2/2/-1;
  padding-top: 1rem;
}
.operate-items__txt {
  grid-area: 2/2/-1/-1;
}
.operate .circle {
  grid-area: 1/1/-1/2;
}

.carousel-container {
  max-width: 100rem;
  margin-top: 13rem;
  margin-inline: auto;
  overflow: hidden;
}
.carousel-wrapper {
  width: 300%;
  display: grid;
  grid-auto-flow: column;
}
.carousel-testimonial {
  width: 65%;
}
.carousel-items {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.carousel-items::before {
  content: "“";
  font-size: 20rem;
  color: var(--primary-color);
}
.carousel-author {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
}

.session {
  margin-inline: auto;
  min-height: 100vh;
  border-bottom: 1px solid #dedede;
}

/*# sourceMappingURL=main.css.map */
