//

@use "../abstract/functions" as fun;

%session{
    max-width: 100rem;
    margin: 0 auto;
    padding: 10rem 2rem;
}

%dark-color {
  color: fun.getColor(dark);
  //   font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 0.02rem;
  text-transform: capitalize;
}

%subtitle {
  color: fun.getColor(primary-darker);
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
  letter-spacing: 0.02;
}

%title {
  font-size: 4.4rem;
  line-height: 1.15;
  color: #555;
  font-weight: 600;
}
